$logofont = 'Montserrat', sans-serif;
$red = #F05D5E;
$green = #0F7173;
$grey = #E7ECEF;
$black = #272932;
$tan = #D8A47F

h1
	text-align: center
	font-family: $logofont
	background-color red

.jumbotron
	background-color: $tan

body
	background-color: $grey
