$logofont = 'Montserrat', sans-serif;
$pink = #DBC2CF
$purple = #9FA2B2
$teal = #3C7A89
$blue = #2E4767
$darkblue = #16262E

h1
	text-align: center
	font-family: $logofont

.jumbotron
	background-color rgba(60, 122, 137, 0.5)

body
	background-color $pink
